PROJECT_NAME="my_project_name"
SERVICE_NAME="my_kafka_service_name"
TOPIC="my_topic_name"
PARTITIONS=2
REPLICATION=2
NR_MESSAGES=200
MAX_TIME=0
SUBJECT="metric"
USERNAME="my_aiven_email"
TOKEN="my_aiven_token"
PRIVATELINK="NO"
SECURITY="SSL"
